<footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
        <nav class="pull-left">
        </nav>
        <div class="copyright">
            <p>Developed By Mahir Tekinasa</p>
        </div>
    </div>
</footer>