<div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
        <ul class="nav nav-secondary">
            <li class="nav-item">
                <a href="~/User/Profile" class="ajax-link">
                    <i class="fas fa-home"></i>
                    <p>Profile</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Task/MainPage" class="ajax-link">
                    <i class="fas fa-home"></i>
                    <p>List to missions</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- End Sidebar -->